* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

header {
	display: flex;
	background-color: black;
	justify-content: center;
	align-items: center;
	color: white;
	height: 10vh;
}

.search-wrapper {
	display: flex;
	gap: 10px;
	margin-top: 40px !important;
	max-width: 500px;
	margin: 0 auto;
}

.search-wrapper input {
	width: 75%;
	padding: 5px;
	border-color: rgba(128, 128, 128, 0.4);
	border-radius: 5px;
	font-size: 1rem;
}

.btn {
	border: none;
	border-radius: 5px;
	padding: 5px;
}

.search-wrapper .btn {
	width: 20%;
	background-color: black;
	color: white;
}

.movies-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	max-width: 70vw;
	margin: 10vh auto;
	padding: 10px 0;
	gap: 20px;
}

.movie-image {
	width: 100%;
	height: 350px;
	object-fit: cover;
}

.movie-info {
	padding: 12px;
}

.movie-title {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 6px;
}

.movie-date {
	font-size: 14px;
}
